[submodule "Summary Evaluation Model"]
	recurse = true
	path = Summary Evaluation Model
	url = https://github.com/bit-guber/CESS-kaggle.git
[submodule "Movie-Recommender-demo"]
	recurse = true
	path = Movie-Recommender-demo
	url = https://github.com/bit-guber/Movie-Recommender-demo.git
